._sam_container{
    width: 70% !important;
}
._sam-spiner{
    background: #00000014;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

._sam-form-focus:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  ._sam-error{
    font-size: 13px;
    font-weight: 600;
  }